/* sidebar.css */
.nav-link {
  color: black !important;
  padding: 20px 20px 5px !important;
}

.link-icon {
  color: white;
}

.bg-deem {
  background-color: #dde5fc;
  /* height: 100vh; */
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bg-deems {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  margin: 20px 0 !important;
}

.box-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.box-text {
  font-size: 18px;
}

.link-text {
  padding: 20px !important;
}

.active-link {
  background-color: red; /* Change to the desired background color */
  color: #5d60cc; /* Change to the desired text color */
  font-weight: bold; /* Optionally, make the text bold */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: auto;
  padding: 20px;
}
